<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #3a406e;
      background-color: white;
      text-align: center;
    "
  >
    <table
      class="body-wrap"
      style="
        width: 600px;
        margin: 0 auto;
        border: 1px solid #3a406e;
        border-radius: 15px;
      "
    >
      <tr>
        <td>
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td
                class="logo-container"
                style="
                  text-align: center;
                  padding-bottom: 10px;
                  background-color: #ededed;
                  border-top-left-radius: 15px;
                  border-top-right-radius: 15px;
                "
              >
                <a
                  href="{{frontendUrl}}"
                  style="text-decoration: none; color: inherit"
                >
                  <h1
                    style="
                      color: #3a406e;
                      font-family: Arial, sans-serif;
                      font-weight: bold;
                      font-size: 1.5rem;
                    "
                  >
                    My Web Companion
                  </h1>
                </a>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 1rem">
                <p
                  style="
                    background-color: #e8f0fe;
                    color: #3793af;
                    font-weight: bold;
                    font-size: 1.2rem;
                  "
                >
                  {{t.subject}}
                </p>
              </td>
            </tr>
            <tr>
              <td
                class="content-block"
                style="
                  padding: 0 1rem;
                  font-size: 1rem;
                  line-height: 1.5;
                  text-align: left;
                "
              >
                <h2 style="font-size: 1.3rem; margin-top: 0">{{title}}</h2>
                <!-- Conditionnage affichage de la section -->
                {{#isEventOrMeeting}}
                <p style="margin-bottom: 1rem">{{startDate}} - {{endDate}}</p>

                <p style="margin-bottom: 1rem">
                  <strong>{{t.location}} :</strong>
                  {{location}}
                </p>

                {{#place}}
                <p style="margin-bottom: 1rem">
                  <strong>{{t.place}}:</strong> {{place}}
                </p>
                {{/place}} {{#url}}
                <p style="margin-bottom: 1rem">
                  <strong>{{t.url}} :</strong>
                  <a
                    href="{{url}}"
                    style="color: #3a406e; text-decoration: none"
                    >{{url}}</a
                  >
                </p>
                {{/url}} {{/isEventOrMeeting}}
                <!-- Fin Conditionnage affichage de la section -->

                <!-- Début Conditionnage affichage de la section -->
                {{^isEventOrMeeting}}
                <p style="margin-bottom: 1rem">{{dueDate}}</p>
                {{/isEventOrMeeting}}
                <!-- Fin Conditionnage affichage de la section -->

                {{#description}}
                <p style="margin-bottom: 1.5rem; font-weight: bold">
                  {{t.descriptionData}} :
                  <span style="font-weight: normal">{{description}}</span>
                </p>
                {{/description}} {{#isEventOrMeeting}}
                <!-- Conditionnage affichage de la section -->
                <hr style="margin: 1.5rem auto; width: 60%" />

                <p style="font-weight: bold">{{t.organizerData}} :</p>
                <p style="font-size: bold; margin-bottom: 0.5rem">
                  {{organizerFirstName}} {{organizerLastName}}
                </p>
                <p
                  style="
                    margin-bottom: 20px;
                    margin-top: 0;
                    color: rgba(58, 58, 58, 0.8666666667);
                  "
                >
                  <a
                    href="mailto:{{organizerEmail}}"
                    style="color: inherit; text-decoration: none"
                  >
                    {{organizerEmail}}
                  </a>
                </p>
                <p style="font-weight: bold">
                  {{t.guestData}} :
                  <span style="font-weight: normal">Pas d'invités.</span>
                </p>
                {{/isEventOrMeeting}}
                <!-- Fin de la condition -->
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                <p style="margin-bottom: 2rem">
                  <a
                    href="{{link}}"
                    style="
                      background-color: #3a406e;
                      color: #6bdbcb;
                      padding: 10px 20px;
                      text-decoration: none;
                      border-radius: 5px;
                    "
                    >{{t.showDetails}}</a
                  >
                </p>
                <p style="margin-bottom: 1rem">{{t.contactUs}}</p>
                <hr style="margin: 30px 0" />
                <p>{{currentYear}} &copy; MyWebCompanion</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
